general:
  work_dir: "${RUN_DIR}" 
  repo_dir: "/work/bk1450/a270220/repos/geoarches_evaluation/cmorisation"
  log_dir: "/work/bk1450/a270220/cmorised_awm/${MODEL_TAG}/logs"
  log_level: "DEBUG"
  means_changed_path: "${RUN_DIR}/1_means/means_changed.json" 
  delete_intermediate_outputs: false # if true, everything besides final cmorised output gets deleted in the end

rename_vars:
  input_dirs: 
    - "${general.work_dir}/1_means/daily_means"
    - "${general.work_dir}/1_means/monthly_means"
  output_dir: "${general.work_dir}/2_renamed"
  var_mapping:
    temperature: ta
    specific_humidity: hus
    u_component_of_wind: ua
    v_component_of_wind: va
    geopotential: zg
    surface_pressure: ps
    sea_surface_temperature: tos
    2m_temperature: tas
    10m_u_component_of_wind: uas
    10m_v_component_of_wind: vas
    total_precipitation_6hr: pr
    mean_sea_level_pressure: psl
    land_sea_mask: sftlf
    # vertical_velocity is not used atm, as it is not required for aimip

  unit_mapping:
    pr: 86400.0 # conversion factor
    tos: 273.15
  pressure_levels: [1000, 850, 700, 500, 250, 100, 50]
  zg_to_500: ${ZG_TO_500} # decide if var zg (geopot. height) shall be reduced to only 500hPa (AIMIP requirement)
  time_slice_daily: ${TIMESPAN_DAILY}

split_vars:
  input_dir: "${general.work_dir}/2_renamed"
  output_dir: "${general.work_dir}/3_split"
  daily_prefix: "daily_"
  monthly_prefix: "monthly_"
  time_slice_daily: ${TIMESPAN_DAILY}

cmorise:
  base_dir: "${general.work_dir}/3_split"
  metadata_path: "${general.repo_dir}/src/utils/variable_metadata.yaml"
  scales:
    - daily
    - monthly
  gn_subdir: "gn"
  gr_subdir: "gr"
  model: "${NAME}" # ArchesWeatherGen or ArchesWeather-M
  ensemble: "${ENSEMBLE}"    
  output_root: "${general.work_dir}/4_cmorisation"
  zg_to_500: ${ZG_TO_500}
  time_slice_daily: ${TIMESPAN_DAILY}
  global_attributes:
    Conventions: "CF-1.7 CMIP-6.2"
    activity_id: "AIMIP"
    branch_method: "no parent"
    creation_date: ""
    data_specs_version: ""
    experiment: "AIMIP"
    experiment_id: "aimip"
    external_variables: "areacella"
    forcing_index: "1"
    further_info_url: "https://github.com/INRIA/geoarches"
    grid: "gn"
    grid_label: "gn"
    initialization_index: "1"
    institution: "INRIA / Google Deepmind / Otto-von-Guericke-Universität Magdeburg / Universität Potsdam"
    institution_id: "archesweather"
    mip_era: "CMIP6"
    nominal_resolution: "100 km" 
    parent_activity_id: "no parent" 
    parent_experiment_id: "no parent" 
    parent_mip_era: "no parent" 
    parent_source_id: "no parent" 
    parent_time_units: "no parent" 
    parent_variant_label: "no parent" 
    physics_index: "1" 
    product: "post-processed model-output" 
    project_id: "aimip" 
    realization_index: "1"
    realm: "atmos" 
    references: "Couairon, G., Singh, R., Charantonis, A., Lessig, C., & Monteleoni, C. (2024, December). ArchesWeather & ArchesWeatherGen: A deterministic and generative model for efficient ML weather forecasting. https://doi.org/10.48550/arXiv.2412.1297"
    source: "ArchesWeather:atmos:Archesweather" 
    source_id: "ACGM" 
    source_type: "" 
    sub_experiment: "none" 
    sub_experiment_id: "none" 
    table_id: "" 
    table_info: "none" 
    title: "${NAME} prepared for AIMIP" 
    variant_label: "${ENSEMBLE}" 
    license: "" 
    cmor_version: "3.5.0"
